<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/navbar.ejs') %>

<div class="container">
  <h1>Listar Tópicos</h1>
</div>
  
<%- include('./partials/footer.ejs') %>
</body>
</html>
