<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aula 4 - Exemplo 1 EJS</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Olá EJS</h1>
  <p>Estamos funcionando...</p>
  <h3>ForEach</h3>
  <ul>
    <% pessoas.forEach(function(item) { %>
      <li>
        <%= item.nome %> |  <%= item.genero %>
      </li>
    <% }); %>
  </ul>
</body>
</html>